.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid rgba(60, 60, 67, 0.36);
  padding: 0 16px;
  z-index: 2;
  background-color: #ffffff;
}

.footer__dark-mode {
  border-top: 0.5px solid rgba(235, 235, 245, 0.5);
  background-color: black;
}
.footer__container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 32px;
}
.footer__buttons {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.footer__content {
  max-width: 356px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: "HelveticaNowMicro";
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: -0.5px;
  color: rgba(60, 60, 67, 0.6);
}

.footer__content.footer__content-ru {
  max-width: 402px;
  width: 100%;
}
.footer__content .footer__content-text-ru {
  max-width: 376px;
  width: 100%;
}
.footer__content-text-ru span {
}
.footer__content-logo {
  width: 21px;
  height: 19px;
  margin-right: 6px;
}
.footer__content-text {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 330px;
  width: 100%;
  gap: 8px;
  /* margin-left: 2px; */
}
.footer__img.footer__copyright {
  width: 10px;
  height: 11px;
  margin: 0 6px;
}
.footer__content-dark {
  color: rgba(235, 235, 245, 0.6);
}
.footer__text {
  /* letter-spacing: -0.5px; */
  /* margin-right: 5px; */
  /* gap: 8px; */
  /* margin: 0 2px; */
  display: flex;
  gap: 8px;
}
.footer__text-ru {
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.25px;
  color: rgba(60, 60, 67, 0.6);
  /* margin-left: 8px; */
  display: flex;
}
.footer__img-opacity {
  opacity: 0.6;
}

.footer__text-opacity {
  opacity: 0.6;
}
.footer__text-job {
  /* margin: 0 5px; */
}
.footer__coder {
  max-width: 110px;
  width: 100%;
  font-family: "HelveticaNowMicro";
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: -0.5px;
  color: rgba(60, 60, 67, 0.6);
  display: flex;
  justify-content: start;
  gap: 6px;
}
.footer__coder span:nth-child(1) {
  color: rgba(60, 60, 67, 0.6);
}
.footer__coder span:nth-child(2) {
  color: rgba(0, 0, 0, 1);
}
.text__ru-footer {
  max-width: 119px;
  font-family: "HelveticaNeueCyr";
  font-size: 12px;
  line-height: 12px;
}
.text__ru-footer span:nth-child(1) {
  letter-spacing: 0.25px;
  font-weight: 400;
  color: rgba(60, 60, 67, 0.6);
}
.text__ru-footer span:nth-child(2) {
  font-weight: 550;
  letter-spacing: 0.45px;
  color: rgba(0, 0, 0, 1);
}
@media screen and (max-width: 768px) {
  .footer__content {
    justify-content: start;
  }
  .footer__content-text {
    justify-content: start;
    gap: 8px;
  }
  .footer__text-job {
    display: none;
  }
  .footer__buttons {
    max-width: 130px;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .footer__copyright {
    /* margin: 0 4px; */
  }
}
@media screen and (max-width: 600px) {
  .footer__buttons,
  .footer__text-name {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .footer__container {
    width: 50%;
  }
}
