.mode__container {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.mode__language {
  width: 66px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "HelveticaNowMicro";
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.5px;
  background-color: rgba(118, 118, 128, 0.12);
  color: rgba(60, 60, 67, 0.6);
  border-radius: 15px;
  border: none;
  padding: 2px;
  position: relative;
}
.mode__language-ru {
  padding: 5px 2px 2px 1px;
}
.mode__language-dark {
  background: rgba(190, 192, 194, 0.29);
  color: rgba(235, 235, 245, 0.6);
}
.language {
  width: 31px;
  height: 20px;
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}
.language__btn {
  width: 31px;
  height: 20px;
  border-radius: 15px;
  position: absolute;
  background-color: #000000;
  z-index: 1;
  left: 2px;
  top: 2px;
  transform: translateX(0);
  transition: 0.3s;
  border: 0.5px solid rgba(60, 60, 67, 0.3);
  cursor: pointer;
}
.language__btn-dark {
  background-color: #ffffff;
}
.language__btn-active {
  transform: translateX(31px);
  transition: 0.3s;
}
.enL {
  color: #ffffff;
  transition: 0.3s;
}
.ruL {
  color: #000000;
  transition: 0.3s;
}
.footer__coder span {
  color: black;
}
.footer__coder.coder {
  color: rgba(235, 235, 245, 0.6);
}
.coder span {
  color: white;
}
@media screen and (max-width: 600px) {
  .mode__language {
    width: 76px;
    height: 28px;
  }
  .language {
    width: 36px;
    height: 28px;
  }
  .language__btn-active {
    transform: translateX(38px);
    transition: 0.3s;
  }
  .language__btn {
    width: 36px;
    height: 24px;
  }
  .mode__container {
    width: 60px;
  }
}
