.header {
  height: 48px;
  border-bottom: 0.5px solid rgba(60, 60, 67, 0.36);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  z-index: 2;
}
.header__logo-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header__logo {
  height: 40px;
  width: 40px;
  background-image: url("./assets/images/ES_Logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  height: 100%;
}
.nav {
  width: 182px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.4px;
  color: #000000;
  overflow: hidden;
}
.header__dark-mode .nav__item a {
  color: rgba(255, 255, 255, 1);
}
.nav__item {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__link {
  height: 100%;
  display: flex;
  align-items: center;
  color: #000000;
}
/* для hover ссылок --------*/
.nav__item {
  position: relative;
}

.nav__link {
  transition: transform 0.3s ease, color 0.3s ease;
  transform-origin: center bottom;
}

.nav__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.nav__item:hover::before {
  width: 100%;
}

.nav__item:hover .nav__link {
  transform: rotateX(360deg);
  /* color: #007bff; Можно изменить цвет ссылки при hover */
}

/* .nav__link {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease;
  overflow: hidden;
}

.nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.nav__link:hover::before {
  width: 100%;
}

.nav__link span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.nav__link:hover span {
  transform: rotateX(360deg);
}

.nav__link.out {
  animation: scrollOut 0.5s forwards;
}

@keyframes scrollOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
} */
/* finish hover ----------------- */
.nav__link--active {
  border-bottom: 2px solid #000000;
  margin-top: 2px;
}
.email {
  width: 290px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  color: rgba(60, 60, 67, 0.6);
}
.email__dark-mode {
  color: #ebebf599;
  opacity: 0.6;
}
.email__text {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.email__title {
  font-family: "HelveticaNowMicro";
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
.email__copied {
  font-family: "HelveticaNowMicro";
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
  color: #000000;
  opacity: 0;
  transition: 0.3s;
  display: none;
}
.email__copied--active {
  opacity: 1;
  transition: 0.3s;
  display: block;
}
.email__btn {
  font-family: "HelveticaNowText";
  width: 59px;
  height: 28px;
  background-color: #ffffff;
  border: 1.5px solid rgba(60, 60, 67, 0.3);
  border-radius: 20px;
  letter-spacing: 0;
}
.email__btn-dark {
  border-color: rgba(235, 235, 245, 0.3);
  color: #ffffff;
  background-color: #000000;
}
.burger-menu {
  display: none;
}
@media screen and (max-width: 1000px) {
  .email__text,
  .email__copied,
  .email__img {
    display: none;
  }
  .email {
    width: 86px;
  }
}
@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
  .header__logo {
    margin-right: auto;
  }
  .burger-menu {
    display: block;
  }
}
/* burger menu -------------------------------------- */
.burger-icon {
  width: 18px;
  height: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100;
}

.burger-icon .bar {
  width: 100%;
  height: 1px;
  background-color: black;
  transition: 0.3s ease;
}
.burger-icon .bar.burger-icon-dark {
  background-color: #ffffff;
}
/* Анимация при открытии burger */
.burger-icon.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.burger-icon.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(1px, -1px);
}
.burger-menu__mode {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 16px;
}
/* Скрытое меню ------------------------- */
.menu {
  position: absolute;
  top: 49px;
  right: -100%;
  height: calc(100vh - 49px);
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  transition: right 0.3s ease;
  z-index: 1;
}
.menu-dark {
  background-color: #000000;
}
.menu.open {
  right: 0;
}

/* Стили для пунктов меню -------------------- */
.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin: 20px 0;
}

.menu ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
}
.menu-dark ul li a {
  color: #ffffff;
}
/* finish burger menu ----------- */

/* start footer ----------------------------------------- */
