@font-face {
  font-family: "HelveticaNowText";
  src: url("./assets/fonts/HelveticaNowText-Regular.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNowText-Regular.woff") format("woff"),
    url("./assets/fonts/Helvetica Now Display.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowVar";
  src: url("./assets/fonts/Helvetica Now Var.woff2") format("woff2"),
    url("./assets/fonts/Helvetica Now Var.woff") format("woff"),
    url("./assets/fonts/HelveticaNowVar.ttf") format("truetype");
  /* font-weight: 100 900; Для вариативного шрифта указываем диапазон */
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./assets/fonts/Helvetica Now Display.woff2") format("woff2"),
    url("./assets/fonts/Helvetica Now Display.woff") format("woff"),
    url("./assets/fonts/Helvetica Now Display.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNowMicro";
  src: url("./assets/fonts/HelveticaNowMicro-Regular.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNowMicro-Regular.woff") format("woff"),
    url("./assets/fonts/HelveticaNowMicro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("./assets/fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
}
body {
  font-family: "HelveticaNowText", sans-serif; /* Статичный шрифт */
  /* overflow: hidden; */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
html {
  /* overflow: hidden; */
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  justify-content: space-between;
}

/* :root {
  --label-light_primary-100: rgba(0, 0, 0, 0.1);
  --label-light_secondary-60: rgba(60, 60, 67, 0.6);
  --label-light_tertiary-30: rgba(60, 60, 67, 0.3);
  --label-light_quaternary-18: rgba(60, 60, 67, 0.18);
  --label-dark_primary-100: rgba(255, 255, 255, 1);
  --label-dark_secondary-60: rgba(235, 235, 245, 0.6);
  --label-dark_tertiary-30: rgba(235, 235, 245, 0.3);
  --label-dark_quaternary-18: rgba(235, 235, 245, 0.18);
  --fills-light_primary-20: rgba(120, 120, 128, 0.2);
  --fills-light_secondary-16: rgba(120, 120, 128, 0.16);
  --fills-light_tertiary-12: rgba(118, 118, 128, 0.12);
  --fills-light_quaternary-8: rgba(116, 116, 128, 0.08);
  --fills-dark_primary-36: rgba(120, 120, 128, 0.36);
  --fills-dark_secondary-32: rgba(120, 120, 128, 0.32);
  --fills-dark_tertiary-24: rgba(118, 118, 128, 0.24);
  --fills-dark_quaternary-18: rgba(116, 116, 128, 0.18);
  --systemBackgrounds-light_primary-100: rgba(255, 255, 255, 1);
  --systemBackgrounds-light_secondary-100: rgba(242, 242, 247, 1);
  --systemBackgrounds-light_tertiary-100: rgba(255, 255, 255, 1);
  --systemBackgrounds-dark_base_primary-100: rgba(0, 0, 0, 1);
  --systemBackgrounds-dark_base_secondary-100: rgba(28, 28, 30, 1);
  --systemBackgrounds-dark_base_tertiary-100: rgba(44, 44, 46, 1);
  --systemBackgrounds-dark_elevated_primary-100: rgba(28, 28, 30, 1);
  --systemBackgrounds-dark_elevated_secondary-100: rgba(44, 44, 46, 1);
  --systemBackgrounds-dark_elevated_tertiary-100: rgba(58, 58, 60, 1);
  --groupedBackgrounds-light_primary-100: rgba(239, 239, 244, 1);
  --groupedBackgrounds-light_secondary-100: rgba(255, 255, 255, 1);
  --groupedBackgrounds-light_tertiary-100: rgba(239, 239, 244, 1);
  --groupedBackgrounds-light_quaternary-80_M: rgba(242, 242, 242, 0.8);
  --groupedBackgrounds-light_quaternary-12_M: rgba(242, 242, 242, 0.12);
  --groupedBackgrounds-light_sextuple-70_M: rgba(245, 245, 245, 0.7);
  --groupedBackgrounds-dark_base_primary-100: rgba(0, 0, 0, 1);
  --groupedBackgrounds-dark_base_secondary-100: rgba(28, 28, 30, 1);
  --groupedBackgrounds-dark_base_tertiary-100: rgba(44, 44, 46, 1);
  --groupedBackgrounds-dark_elevated_primary-100: rgba(28, 28, 30, 1);
  --groupedBackgrounds-dark_elevated_secondary-100: rgba(44, 44, 46, 1);
  --groupedBackgrounds-dark_elevated_tertiary-100: rgba(60, 60, 62, 1);
} */

.dark {
  background-color: #000000;
}
.no-scroll {
  overflow: hidden;
}

/* ::-webkit-scrollbar {
  width: 3px; 
  opacity: 0; 
  z-index: -1;
}

::-webkit-scrollbar:hover {
  opacity: 1; 
  width: 8px;
}

::-webkit-scrollbar-thumb {
  min-height: 40px; 
  background-color: #000000;
  border-radius: 20px;
  border-right: 1px solid white;
}*/
/* Base scrollbar styles */
::-webkit-scrollbar {
  width: 4px; /* Fixed width to avoid content shifting */
  /* background-color: transparent; */
  background-color: #ffffff;
}
/* ::-webkit-scrollbar:hover {
  width: 8px;
} */
::-webkit-scrollbar:hover .about {
  padding: 0;
  margin-right: 8px;
}
/* Hide scrollbar by default */
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 50px;
  /* background-color: transparent; */
}

/* Show scrollbar on hover */
.scrollable:hover::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 20px;
  border-right: 1px solid white;
  opacity: 1;
}

/* Track customization */
::-webkit-scrollbar-track {
  background: transparent; /* Keeps the track hidden */
}

/* Control scrollbar thumb height */
::-webkit-scrollbar-thumb {
  min-height: 20px; /* Set a minimum height */
}

/* Optional: Style for scrollbar thumb on hover */
.scrollable:hover::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* ------------------------------------------------------------------------ */
.page {
  margin-top: 87px;
  display: flex;
  justify-content: start;
  align-items: start;
}
.ru__text {
  font-family: "HelveticaNeueCyr";
  & * {
    font-family: "HelveticaNeueCyr";
  }
}
